services:
  db:
    image: postgres:15.15-alpine3.22
    container_name: local_pgdb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: Project
    volumes:
      - local_pgdata:/var/lib/postgresql/data

  pgadmin:
    image: elestio/pgadmin
    container_name: pgadmin4_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin

  backend:
    build:
      context: .
    container_name: fastapi-template
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env.example
    depends_on:
      - db

volumes:
  local_pgdata:
  pgadmin-data:
